<div class="container">
  <h3>{{post.title}}</h3>
  <h5>By {{post.author}}</h5>
  <img src={{post.image}}>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;Category: {{post.category}} ||{{update-post post=post update=update}} <button {{action 'delete' post}}>Delete</button>
<hr>
